.PageLayout {
  width: 84%;
  margin-left: 16%;
  background-color: var(--bg);
  min-height: 100vh;
  // padding: 1rem 3rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  .layout {
    padding: 2rem 2rem 1rem 3rem;
  }
}
