.Header {
  background-color: palevioletred;
  width: 100%;
  height: 12rem;
  img {
    background-color: palevioletred;
    width: 100%;
    height: 80%;
  }
  h3 {
    padding-top: 2rem;
    text-transform: uppercase;
    padding-left: 2.4rem;
  }
  p {
    font-size: 2.4rem;
    text-align: center;
  }
}
