.SideBar {
  width: 16%;
  height: 100vh;
  background-color: var(--sidebar);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.17rem solid var(--border);
}
