.SocialFollow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    padding: 0.2rem 0;
    font-size: 1rem;
  }
  a {
    padding-right: 0.5rem;
    transition: transform 0.25s;
    font-size: 1.6rem;
    display: inline-block; // Without this transform and translate effects will not work
  }
  a:hover {
    transform: translateY(-0.3rem);
  }
  a.tw {
    color: #55acee;
  }
  a.gh {
    color: #000;
  }
  a.yt {
    color: #cc181e;
  }
  a.ig {
    color: #3f729b;
  }
  a.fb {
    color: #3b5998;
  }
}
