.SocialFollow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    padding: 2rem 0;
  }
  a {
    padding-right: 1rem;
    transition: transform 0.25s;
  }
  a:hover {
    transform: translateY(-0.5rem);
  }
  a.tw {
    color: #55acee;
  }
  a.gh {
    color: #000;
  }
  a.yt {
    color: #cc181e;
  }
  a.ig {
    color: #3f729b;
  }
  a.fb {
    color: #3b5998;
  }
}
