* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #a4acc4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  --bg: #10121b;
  --sidebar: #191d2b;
  --active: #037fff;
  --borderColor: #2e344e;
  --font: #a4acc4;
  --border: 0.17rem solid var(--borderColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
