.BlogCard {
  .author {
    color: var(--active);
  }
  .date {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }
  .img {
    height: 12rem;
    background: khaki;
    margin: 1rem auto;
    margin-right: 2rem;
  }
  .title {
    font-size: 1.45rem;
    font-weight: 500;
    // color: #f8f9fa;
    color: khaki;
    padding-bottom: 0.5rem;
  }
  .cat {
    color: var(--active);
    font-size: 1.07rem;
    padding-top: 0.5rem;
  }
}
